<div class="top-indication">
  <% if user_signed_in? %>
    <div class="trim">
      <%= image_tag current_user.image.variant(resize: '100x100'), class: :trim_image if current_user.image.attached? %>
    </div>
    <div class="balloon-left">
      <%= link_to "思ったことを書きましょう！(投稿はココをクリック)", new_post_path, class: "tweet" %>
    </div>
    <%# <div class="friend_confirmation">
      <%= link_to image_tag("friend_request.png", width: '50', alt: "友達申請確認アイコン"), user_friend_requests_path(current_user.id), class: :friend_confirmation_img %>
    <%# </div> %>
  <% end %>
</div>
  <%= render partial: "post", collection: @posts, as: :post %>