.header-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #CCFFFF;
  border: 1px solid;
  border-color: #DDDDDD;
  font: yellow;
}

.header-bar-left {
  font: yellow;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  width: 21%;
}

.header-sub {
  font: yellow;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 32%;
}

.header-bar-right {
  font: yellow;
  font-size: 20px;
  display: flex;
  width: 23%;
}

.top-title {
  text-decoration: none;
  /* margin-left: 350px; */
}

.grid-6 {
  /* margin-left: 400px; */
}

.post {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
}