.search-list {
  display: flex;
}

.search-already-friend {
  margin-top: 65px;
  margin-left: 30px;
}

.search-indication {
  font-size: 25px;
  color: brown;
  font-weight: bold;
}

.no-result-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-height: 570px;
}

.no-result-indication {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.not-found-indication {
  font-size: 30px;
  font-weight: bold;
}

.search-block-indication {
  font-size: 25px;
  color: red;
  font-weight: bold;
  
}

.search-request-waiting {
  font-size: 25px;
  color: purple;
  font-weight: bold;
}

.search-already-friend {
  font-size: 25px;
  color: green;
  font-weight: bold;
}

.search-not-friend {
  font-size: 25px;
  color: blue;
  font-weight: bold;
}

.search-top-main {
  min-height: 600px;
}