.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.card__summary {
  font-size: 16px;
}

.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.card__img {
  margin-bottom: 16px;
}

.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.trim {
  position:relative;
  overflow: hidden;
  width:60px;
  height:60px;
  border-radius:50%;
  margin-top: 10px;
  margin-left: 25%;
  margin-bottom: 30px;
  border: solid 1px #C0C0C0;
}

.trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}

.trim_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.balloon-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 20px;
  padding: 7px 10px;
  min-width: 500px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 2px #C0C0C0;
  box-sizing: border-box;
  border-radius: 10px;
}

.balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #C0C0C0;
  z-index: 1;
}

.balloon-left p {
  margin: 0;
  padding: 0;
}

.top-indication {
  display: flex;
}

.tweet {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* .card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
} */

.card__summary {
  font-size: 16px;
}

/* .card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
} */

.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.topicon_img {
  margin-bottom: 16px;
  
}

.topicon-name {
  margin-top: -25px;
}

.top-posts {
  margin-left: 25%;
  margin-top: 10px;
  display: flex;
  border: 1px solid;
  border-color: #DDDDDD;
  width: 700px;
  padding: 5px;
}

.top-post-right {
  margin-left: 5%; 
  width: 500px;
  word-break: break-word;
}

.trim-post {
  position:relative;
  overflow: hidden;
  width:60px;
  height:60px;
  border-radius:50%;
  margin-top: 10px;
  margin-bottom: 30px;
  border: solid 1px #C0C0C0;
}
.trim-post img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
  object-fit: cover;
  width: 100%;
}

.comment_img {
  width: 50px;
  height: 50px;
}

.like {
  display: flex;
}

.main-sentences {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 700px;
}

.top1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.top2 {
  font-size: 20px;
}

.top3 {
  font-size: 20px;
}

.top4 {
  font-size: 20px;
}

.new-account {
  color: red;
}

.search-input {
  height: 30px;
  width: 200px;  
}

.search-btn {
  color: #fff;
  background-color: skyblue;
  /* border-radius: 100vh; */
  border-radius:0 10px 10px 0;
  width: 60px;
  height: 35px;
  border: solid 1px black;
  font-size: 18px;
  text-shadow:
    1px 0 0 black,
    0 1px 0 black,
    -1px 0 0 black,
    0 -1px 0 black
}

.top-middle-icons {
  display: flex;
}

.top-middle-main {
  display: flex;
}

.messenger-object {
  margin-left: 50px;
}